*{margin:0px; padding:0px;}
#Content
{
	width:80%;
	height:110%;
	margin-left:10%;
	background-color:white;
}
h1{
	text-align:center;
	padding:15px;
}
h2
{
	text-align:center;
}
img{
	width:200px;
	height:100px;
	margin:40px;
}
p{
	padding:20px;
}
body
{background-image: url("Content/Hardware.jpg");}